html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --bcg-color: #f5f4fa;
  --white-color: #ffffff;
  --bcg-dark-color: #2f303a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ==================== GENERAL ========= */

body {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

header .logo,
footer .logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  font-family: inherit;
  font-style: inherit;
}

.logo-accent {
  font-family: inherit;
  color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.svg-nav-pic {
  fill: currentColor;
}

.auth-nav:hover,
.site-nav-link:hover,
.auth-nav:focus,
.site-nav-link:focus,
.address-contact:hover,
.address-contact:focus,
.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==================== END GENERAL ========= */

/* ==================== header ========= */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  align-content: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .logo {
  margin-right: 90px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.site-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list {
  display: flex;
}

.auth-nav-list {
  display: flex;
  color: var(--primary-color);
}

.auth-nav-container {
  margin-left: auto;
}

.logo-header-second {
  font-family: inherit;
  color: var(--second-color);
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
}

.auth-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
}

.svg-nav-pic {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* ==================== END header ========= */

/* ==================== hero ========= */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.order-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  cursor: pointer;
}

/* ==================== END hero ========= */

/* ==================== what we do ========= */

.features-list-pic-container {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--bcg-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list-pic-item {
  width: 70px;
  height: 70px;
}

.whatwedo .container {
  padding-bottom: 94px;
}

.whatwedo .section-title {
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
}

.whatwedo-list-item {
  position: relative;
}

.whatwedo-list-item-descr {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.whatwedo-list-item:not(:last-child) {
  margin-right: 30px;
}

.features .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  align-items: center;
  align-content: center;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-item {
  color: var(--second-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/* ==================== end what we do========= */

/* ==================== our team========= */

.our-team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-color: var(--bcg-color);
}

.our-team .section-title {
  margin-bottom: 50px;
}

.our-team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-card-footer {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
}

.our-team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 10px;
}

.our-team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.social-links-list {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  max-width: 210px;
  margin-left: auto;
  margin-right: auto;
}

.social-links-list-item {
  display: flex;
  align-items: center;
}

.social-links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: transparent;
  border-radius: 50%;
  fill: var(--primary-color);
  transition: background-color 250ms var(--cubic), 250ms var(--cubic),
    fill 250ms var(--cubic);
}

.social-links-icon {
  height: 20px;
  width: 20px;
  fill: var(--primary-color);
}

.social-links-link:hover .social-links-icon,
.social-links-link:focus .social-links-icon {
  fill: var(--white-color);
}

.social-links-link:hover,
.social-links-link:focus {
  background-color: var(--accent-color);
}

/* ==================== end our team========= */

/* ==================== clients ========= */
.clients .container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.footer-nav {
  margin-right: 70px;
}

.clients .section-title {
  margin-bottom: 50px;
}

.clients-list {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.clients-list-link {
  height: 90px;
  width: 170px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  transition: border 250ms var(--cubic);
}

.clients-list-icon {
  height: 50px;
  max-width: 90px;
  fill: currentColor;
  transition: fill 250ms var(--cubic);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}
.clients-list-link:hover,
.clients-list-link:focus {
  outline: none;
  border-color: var(--accent-color);
}

/* ==================== end clients ========= */

/* ==================== footer========= */
.footer {
  background-color: var(--bcg-dark-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-invite {
  font-family: var(--primary-font);
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
  padding: 7.5px 0;
  min-height: 31px;
}

.footer-links .social-links-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}

.footer-links .social-links-list-item:not(:last-child) .social-links-link {
  margin-right: 10px;
}

.footer-links .social-links-icon {
  fill: var(--white-color);
  transition: fill 250ms var(--cubic);
}

.footer-links .social-links-link:hover,
.footer-links .social-links-link:focus {
  background-color: var(--accent-color);
}

.footer .address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-footer-second {
  font-family: inherit;
  color: var(--white-color);
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
  margin-top: 20px;
}

.address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
}

.address-contact,
footer > li > .address-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: all 250ms var(--cubic), fill 250ms var(--cubic);
}

.footer-form-container {
  margin-left: 93px;
}

.form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  min-width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px;
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer .form-field {
  display: flex;
  align-items: center;
}

.form-btn {
  display: inline-block;
  padding: 0;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 12px;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 29px;
}

.footer-btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* ==================== end footer========= */

/* ==================== portfolio main ========= */

.portfolio .container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.portfolio-list-item {
  margin-left: 15px;
  margin-right: 15px;
  transition: box-shadow 250ms var(--cubic);
}

.portfolio-link {
  display: block;
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-list-item:hover,
.portfolio-list-item .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio-img-container {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.portfolio-link-descr {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  transition: transform 250ms var(--cubic);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
}

.portfolio-link:hover .portfolio-link-descr,
.portfolio-link:focus .portfolio-link-descr {
  transform: translateY(-100%);
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-filter {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background-color: #f5f4fa;
  border: 1px solid transparent;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-examples {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.portfolio-card {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio h2 {
  color: var(--second-color);
}
/* ==================== end portfolio main ========= */

/* ==================== modal btn ========= */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--cubic);
}

.order-btn-modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic) 250ms;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.close-btn-x {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
}

.close-btn:hover .close-btn-x {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  transition: all 250ms var(--cubic) 250ms;
}

.backdrop.is-hidden {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms var(--cubic) 0ms;
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-form-label:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal-form-label:last-of-type {
  margin-bottom: 20px;
}

.modal-form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-input {
  border: 1px solid rgba(131, 131, 131, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition: all 250ms var(--cubic);
}

.modal-form .textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus,
.order-btn-modal .textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-svg,
.modal-form-input:hover + .modal-form-svg {
  fill: var(--accent-color);
}

.order-btn-modal .textarea {
  border: 1px solid rgba(131, 131, 131, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.modal-form-policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/check.svg);
  background-size: 11px 8px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 9px;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  transition: all 250ms var(--cubic);
}

.modal-form-policy-input:checked + .modal-form-policy::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-policy-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.modal-form-input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.modal-form-policy a {
  color: var(--accent-color);
}

.modal-submit-btn {
  display: inline-block;
  min-height: 50px;
  width: 200px;
  margin: 0 auto;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}
/* ==================== end modal btn ========= */
